<section id="{{.ctx.hash_id}}" class="home-section" {{with .ctx.style}}style="{{. | safeCSS}}"{{end}} {{ with .ctx.extra_attributes }}{{print . | safeHTMLAttr}}{{end}}>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5">
                {{ with .ctx.heading }}<h2>{{ . |markdownify }}</h2>{{ end }}
            </div>
            
            <!-- <div class="frame-list">
            {{ range .ctx.talks }}
                <div class="frame-wrapper">
                    <iframe width="450" height="360" frameborder="0" allowfullscreen="" src="{{.video_url}}"></iframe>
                    
                    <h3>{{.title}}</h3>
                </div>
            {{ end }}
            </div> -->

            <div class="col-12">
                <div class="row justify-content-center">
                    {{ with site.GetPage "/talk" }}
                        {{ $paginator := .Paginate (.Pages.ByDate.Reverse) 6 }}
                        {{ range $paginator.Pages }}
                            {{if ne .Params.headless true}}
                            <div class="col-lg-4 col-md-6 mb-4">
                                {{ partial "li_card" . }}
                            </div>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                </div>
              </div>
        </div>
    </div>
</section>